.field-search{
    padding: 3px;
    width: 10em;
}

/*.edit-profile-photo{*/
/*    border-radius: 4px !important;*/
/*    max-width: 240px !important;*/
/*    width: 100% !important;*/
/*}*/

.edit-profile-photo img {
    border-radius: 4px;
    max-width: 240px;
    width: 100%;
}

.edit-profile-photo {
    position: relative;
    display: block;
    margin-bottom: 35px;
}

.change-photo-btn {
    font-weight: 600;
    padding: 5px 6px;
    color: #333;
    background-color: #fff;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    font-size: 13px;
    width: auto;
    transition: 0.3s;
    cursor: pointer;
    line-height: 20px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: auto;
}

.photoUpload {
    position: relative;
    overflow: hidden;
    padding: 3px 12px;
    cursor: pointer;
}

.photoUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.change-photo-btn:hover {
    color: #fff;
    background-color: #66676b;
}

.change-photo-btn i { margin-right: 2px; }

.my-profile label {
    margin-top: 27px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 9px;
}

.my-profile { display: block; }

.my-profile label i { margin-right: 3px; }

.my-profile textarea {
    height: 200px; }
